.randomquoteWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.randomquoteContainer {
    background-color: white;
    color: #333;
    min-height: 85vh;
    padding: 2rem;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
}

.randomquoteBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #5a0000, #230000);
    padding: 15px;
}

.randomquoteContainer h1 {
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
    font-size: 40px;
}

.randomquoteContainer p {
    margin-bottom: 2rem;
    color: #555;
}

.randomquoteContainer button {
    padding: 0.8rem 1.2rem;
    background-color: #e25930;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 50px;
    margin: 10px;
}

.randomquoteBar button {
    padding: 0.8rem 1.2rem;
    background-color: #e25930;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 50px;
    margin: 5px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
}

.historyList {
    margin: 1rem 0;
    max-height: 60vh;
    overflow-y: auto;
}

.historyItem {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
}

.timestamp {
    color: #444;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

.closeButton {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.deleteButton {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: #e25930;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}
